.formContent {
    form {
        margin: 10px;
        .contentUl {
            li {
                border-bottom: 1px solid #eeeeee;
                padding: 10px 0;
                .scenicItem {
                    display: flex;
                    .scenicLabel {
                        width: 100px;
                        height: 25px;
                        line-height: 25px;
                        font-size: 12px;
                    }
                    .scenicContent {
                        width: 100%;
                        display: flex;
                        .inputParams, .selectParams {
                            width: 100%;
                            border: 1px solid #dddddd;
                            padding: 4px;
                            border-radius: 3px;
                        }
                    }
                }
            }
        }
        .submitBtn {
            width: 100%;
            height: 40px;
            line-height: 40px;
            margin-top: 20px;
            background-color: #00bfff;
            color: #ffffff;
            font-size: 16px;
            border-radius: 3px;
            border: none;
            outline: none;
        }
        .formItems {
            display: inline-block;
        }
    }
    
}