.header {
    position: relative;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: dodgerblue;
    color: #ffffff;
}

.leftBtn {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
}

.leftBtn a {
    text-decoration: none;
    font-size: 13px;
    color: #ffffff;
}

.rightBtn {
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 50px;
}

.rightBtn a {
    text-decoration: none;
    font-size: 13px;
    color: #ffffff;
}